<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator_2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>021A049B1DA248BB0035C899</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02760DFC1DA0D8F100E00F13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02B8A47B1DA246A6008F3370</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
